html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    perspective: 850px;
}

.cube {
    position: absolute;
    width: 300px;
    height: 300px;
    transform-origin: 50% 50% 150px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
}

.cube .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170px;
    -webkit-text-stroke: 5px black;
}

.cube .face:nth-child(1) {
    transform: translateZ(300px);
    background-color: rgba(66, 13, 8, 0.5);
}
.cube .face:nth-child(2) {
    transform-origin: center right;
    transform: rotateY(90deg);
    background-color: rgba(242, 0, 255, 0.5);
}
.cube .face:nth-child(3) {
    transform-origin: center bottom;
    transform: rotateX(-90deg);
    background-color: rgba(0, 213, 255, 0.5);
}
.cube .face:nth-child(4) {
    transform-origin: top center;
    transform: rotateX(90deg);
    background-color: rgba(255, 221, 0, 0.5);
}
.cube .face:nth-child(5) {
    transform-origin: center left;
    transform: rotateY(-90deg);
    background-color: rgba(0, 119, 255, 0.68);
}
.cube .face:nth-child(6) {
    transform-origin: center center;
    transform: rotateY(180deg);
    background-color: rgba(114, 113, 113, 0.5);
}